/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #155DFC;
    --secondary-color: #1F2937;
    --gray-color: #374151;
}

body {
    font-family: "Geist Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
}

.primary-color {
    color: var(--primary-color) !important;
}

.secondary-color {
    color: var(--secondary-color) !important;
}

.gray-color {
    color: var(--gray-color) !important;
}

.btn-primary {
    background-color: var(--primary-color) !important;
}

.btn-primary:hover {
    background-color: var(--secondary-color) !important;
}

.form-control {
    border: 2px solid #dee2e6;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 44px;
    cursor: pointer;
    color: #6c757d;
    transition: color 0.3s ease;
}

.password-toggle:hover {
    color: #495057;
}

.cursor-pointer {
    cursor: pointer;
}

@media (max-width: 991.98px) {
    .w-75 {
        width: 95% !important;
    }
}