/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #155DFC;
    --secondary-color: #1F2937;
    --gray-color: #374151;
}

body {
    font-family: "Geist Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
}

.primary-color {
    color: var(--primary-color) !important;
}

.secondary-color {
    color: var(--secondary-color) !important;
}

.gray-color {
    color: var(--gray-color) !important;
}